<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is your Node.js Express app running on Azure Web App!</p> <!-- new text added -->
    <p>Enjoy exploring your application!</p>
    <p>Start learning lot on n8n dont stop learning!</p> <!-- more text -->
  </body>
</html>
