name: Build and deploy Node.js app to Azure Web App - testwebsav

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install, build, and test
        working-directory: myExpressApp
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7B14D5B7497D459C9C66DAEE3521FA61 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_DF3C0B36870C40CCA467068E9F62F696 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B45E3A3325724DDCA7632E247299FF04 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'testwebsav'
          package: myExpressApp
